# Ignore Terraform lock file
Terraform/.terraform.lock.hcl

# Ignore Terraform provider directories
Terraform/.terraform/

# Ignore Terraform state files
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

# Ignore all .DS_Store files
*.DS_Store

